@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}
@keyframes ring-pulse-red {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 60, 60, 0.9), 0 0 20px rgba(255, 60, 60, 0.8);
    border-color: #ff3c3c;
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 60, 60, 0), 0 0 40px rgba(255, 0, 0, 0.6);
    border-color: #ff0000;
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 60, 60, 0), 0 0 10px rgba(255, 60, 60, 0);
    border-color: #ff3c3c;
  }
}

.animate-pyramid-ring-pulse {
  animation: ring-pulse-red 0.8s cubic-bezier(0, 0, 0.2, 1) infinite;
  border: 4px solid #ff3c3c !important;
  border-radius: 12px;
  transform: scale(1.05);
}
